In [1]:
import pandas as pd
import numpy as np

In [2]:
# anos = list(range(2001, 2021))
# title = 'df_'

# for ano in anos:
#     nome = title+str(ano)
#     #print(nome)
#     nome = pd.read_csv(f'nascimentos_por_municipio/{ano}.csv')

In [3]:
df_2001 = pd.read_csv('mortalidade_por_municipio/2001.csv')
df_2002 = pd.read_csv('mortalidade_por_municipio/2002.csv')
df_2003 = pd.read_csv('mortalidade_por_municipio/2003.csv')
df_2004 = pd.read_csv('mortalidade_por_municipio/2004.csv')
df_2005 = pd.read_csv('mortalidade_por_municipio/2005.csv')
df_2006 = pd.read_csv('mortalidade_por_municipio/2006.csv')
df_2007 = pd.read_csv('mortalidade_por_municipio/2007.csv')
df_2008 = pd.read_csv('mortalidade_por_municipio/2008.csv')
df_2009 = pd.read_csv('mortalidade_por_municipio/2009.csv')
df_2010 = pd.read_csv('mortalidade_por_municipio/2010.csv')
df_2011 = pd.read_csv('mortalidade_por_municipio/2011.csv')
df_2012 = pd.read_csv('mortalidade_por_municipio/2012.csv')
df_2013 = pd.read_csv('mortalidade_por_municipio/2013.csv')
df_2014 = pd.read_csv('mortalidade_por_municipio/2014.csv')
df_2015 = pd.read_csv('mortalidade_por_municipio/2015.csv')
df_2016 = pd.read_csv('mortalidade_por_municipio/2016.csv')
df_2017 = pd.read_csv('mortalidade_por_municipio/2017.csv')
df_2018 = pd.read_csv('mortalidade_por_municipio/2018.csv')
df_2019 = pd.read_csv('mortalidade_por_municipio/2019.csv')
df_2020 = pd.read_csv('mortalidade_por_municipio/2020.csv')
df_base = pd.read_csv('mortalidade_por_municipio/base.csv')

In [4]:
df_2001

                         Municipio  obitos_p/Residência
0     110001 ALTA FLORESTA D'OESTE                  111
1                 110002 ARIQUEMES                  330
2                    110003 CABIXI                   29
3                    110004 CACOAL                  308
4                110005 CEREJEIRAS                   86
...                            ...                  ...
5550         522205 VICENTINOPOLIS                   26
5551               522220 VILA BOA                    9
5552          522230 VILA PROPICIO                   17
5553               530010 BRASILIA                 8760
5554                         Total               954897

[5555 rows x 2 columns]

In [5]:
municipios = []
for i in df_base.Municipio.values:
    #codigo = i.split(' ')
    municipios.append(i)
    #print(i)

In [6]:
# #for n in municipios:
# lista = []
# for i in df_2001.index:
#     if df_2001.loc[i].Municipio in municipios:
#         lista.append(df_2001.loc[i]['Nascim_p/resid.mae'])
#         #print(df_2001.loc[i]['Nascim_p/resid.mae'])
#     else:
#         lista.append('None')

In [7]:
df_2001[df_2001.Municipio == municipios[0]]['obitos_p/Residência'].values[0]

111

In [8]:
#lista = ['df_2001', 'df_2002', 'df_2003', 'df_2004', 'df_2005', 'df_2006', 'df_2007', 'df_2008', 'df_2009', 'df_2010', 'df_2011', 'df_2012', 'df_2013', 'df_2014', 'df_2015', 'df_2016', 'df_2017', 'df_2018', 'df_2019', 'df_2020']

lista = [df_2001, df_2002, df_2003, df_2004, df_2005, df_2006, df_2007, df_2008, df_2009, df_2010, df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020]

#lista = [df_2001, df_2002, df_2003]

count = 2001
for i in lista:
    lista_ano = []
    for n in range(len(municipios)):
        if municipios[n] in i.Municipio.values:
            value = i[i.Municipio == municipios[n]]['obitos_p/Residência'].values[0]
            lista_ano.append(float(value))
        else:
            lista_ano.append(None)
    df_base[str(count)] = lista_ano[:]
    #print(len(df_base))
    #print(lista_ano)
    lista_ano.clear()
    count = count + 1

df_base

,Municipio,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,110001 ALTA FLORESTA D'OESTE,111.0,107.0,116.0,84.0,105.0,119.0,64.0,138.0,112.0,...,84.0,122.0,112.0,108.0,145.0,109.0,137.0,128.0,140.0,139.0
1,110002 ARIQUEMES,330.0,328.0,371.0,362.0,338.0,394.0,289.0,433.0,446.0,...,406.0,486.0,477.0,469.0,511.0,510.0,503.0,531.0,502.0,666.0
2,110003 CABIXI,29.0,24.0,32.0,30.0,29.0,28.0,18.0,34.0,33.0,...,29.0,21.0,23.0,24.0,28.0,24.0,29.0,34.0,41.0,52.0
3,110004 CACOAL,308.0,325.0,309.0,316.0,303.0,370.0,269.0,356.0,340.0,...,357.0,356.0,379.0,456.0,440.0,485.0,501.0,482.0,491.0,595.0
4,110005 CEREJEIRAS,86.0,78.0,83.0,78.0,71.0,93.0,64.0,81.0,84.0,...,77.0,105.0,101.0,102.0,80.0,112.0,81.0,109.0,107.0,110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5566,522205 VICENTINOPOLIS,26.0,26.0,28.0,38.0,34.0,29.0,32.0,43.0,30.0,...,29.0,36.0,51.0,40.0,43.0,45.0,42.0,46.0,41.0,62.0
5567,522220 VILA BOA,9.0,16.0,19.0,20.0,12.0,15.0,21.0,24.0,20.0,...,25.0,17.0,23.0,20.0,27.0,16.0,23.0,13.0,19.0,22.0
5568,522230 VILA PROPICIO,17.0,18.0,11.0,22.0,14.0,18.0,17.0,12.0,18.0,...,22.0,18.0,24.0,30.0,23.0,21.0,19.0,24.0,39.0,35.0
5569,530010 BRASILIA,8760.0,9066.0,9093.0,9609.0,9425.0,9513.0,9866.0,10282.0,10459.0,...,11253.0,11308.0,11408.0,12018.0,11975.0,12050.0,12514.0,12157.0,12804.0,16218.0
5570,Total,954897.0,977926.0,996443.0,1017910.0,1002359.0,1028172.0,1044114.0,1072822.0,1098388.0,...,1166351.0,1177145.0,1206476.0,1223152.0,1260774.0,1306311.0,1309729.0,1313887.0,1347262.0,1554283.0

In [9]:
#'ITANHANGA'
    
for i in df_base.index:
    if 'ITANHANGA' in df_base.loc[i].Municipio:
        print(df_base.loc[i])

Municipio    510454 ITANHANGA
2001                      NaN
2002                      NaN
2003                      NaN
2004                      NaN
2005                     12.0
2006                     18.0
2007                     17.0
2008                     14.0
2009                     14.0
2010                     10.0
2011                     30.0
2012                     15.0
2013                     30.0
2014                     30.0
2015                     21.0
2016                     27.0
2017                     20.0
2018                     22.0
2019                     27.0
2020                     33.0
Name: 5233, dtype: object

In [10]:
# for i in df_base.columns[3:]:
#     df_base[i] = df_base[i].astype('int64',errors='ignore')
    
# df_base

In [11]:
# for i in df_base.columns[3:]:
#     df_base[i] = pd.to_numeric(df_base[i], errors='coerce')
    
# df_base

In [12]:
# for i in df_base.columns[3:]:
#     for n in df_base[i]:
#         #print(n)
#         if n >= 0:
#             #print(n)
#             n = int(n)
#         else:
#             pass
        
# #df_base

In [13]:
# for i in df_base.columns[3:]:
#     df_base[i] = df_base[i].astype(int)
    
# df_base

In [14]:
# for u in df_base.loc[0][1:]:
#     print(int(u))

In [15]:
lista_codigo = []
lista_cidade = []

for n in df_base.index:
    codigo = df_base.Municipio.loc[n][:6]
    city = df_base.Municipio.loc[n][7:]
    lista_codigo.append(df_base.Municipio.loc[n][:6])
    if df_base.Municipio.loc[n][7:] != '':
        lista_cidade.append(df_base.Municipio.loc[n][7:].title())
    else:
        pass
    #print(codigo)
lista_cidade.append('Total')

In [16]:
df_base.insert(
    loc = 1,
    column = 'codigo',
    value = lista_codigo
)

df_base

,Municipio,codigo,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,110001 ALTA FLORESTA D'OESTE,110001,111.0,107.0,116.0,84.0,105.0,119.0,64.0,138.0,...,84.0,122.0,112.0,108.0,145.0,109.0,137.0,128.0,140.0,139.0
1,110002 ARIQUEMES,110002,330.0,328.0,371.0,362.0,338.0,394.0,289.0,433.0,...,406.0,486.0,477.0,469.0,511.0,510.0,503.0,531.0,502.0,666.0
2,110003 CABIXI,110003,29.0,24.0,32.0,30.0,29.0,28.0,18.0,34.0,...,29.0,21.0,23.0,24.0,28.0,24.0,29.0,34.0,41.0,52.0
3,110004 CACOAL,110004,308.0,325.0,309.0,316.0,303.0,370.0,269.0,356.0,...,357.0,356.0,379.0,456.0,440.0,485.0,501.0,482.0,491.0,595.0
4,110005 CEREJEIRAS,110005,86.0,78.0,83.0,78.0,71.0,93.0,64.0,81.0,...,77.0,105.0,101.0,102.0,80.0,112.0,81.0,109.0,107.0,110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5566,522205 VICENTINOPOLIS,522205,26.0,26.0,28.0,38.0,34.0,29.0,32.0,43.0,...,29.0,36.0,51.0,40.0,43.0,45.0,42.0,46.0,41.0,62.0
5567,522220 VILA BOA,522220,9.0,16.0,19.0,20.0,12.0,15.0,21.0,24.0,...,25.0,17.0,23.0,20.0,27.0,16.0,23.0,13.0,19.0,22.0
5568,522230 VILA PROPICIO,522230,17.0,18.0,11.0,22.0,14.0,18.0,17.0,12.0,...,22.0,18.0,24.0,30.0,23.0,21.0,19.0,24.0,39.0,35.0
5569,530010 BRASILIA,530010,8760.0,9066.0,9093.0,9609.0,9425.0,9513.0,9866.0,10282.0,...,11253.0,11308.0,11408.0,12018.0,11975.0,12050.0,12514.0,12157.0,12804.0,16218.0
5570,Total,Total,954897.0,977926.0,996443.0,1017910.0,1002359.0,1028172.0,1044114.0,1072822.0,...,1166351.0,1177145.0,1206476.0,1223152.0,1260774.0,1306311.0,1309729.0,1313887.0,1347262.0,1554283.0

In [17]:
df_base.insert(
    loc = 2,
    column = 'cidade',
    value = lista_cidade
)

df_base

,Municipio,codigo,cidade,2001,2002,2003,2004,2005,2006,2007,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,110001 ALTA FLORESTA D'OESTE,110001,Alta Floresta D'Oeste,111.0,107.0,116.0,84.0,105.0,119.0,64.0,...,84.0,122.0,112.0,108.0,145.0,109.0,137.0,128.0,140.0,139.0
1,110002 ARIQUEMES,110002,Ariquemes,330.0,328.0,371.0,362.0,338.0,394.0,289.0,...,406.0,486.0,477.0,469.0,511.0,510.0,503.0,531.0,502.0,666.0
2,110003 CABIXI,110003,Cabixi,29.0,24.0,32.0,30.0,29.0,28.0,18.0,...,29.0,21.0,23.0,24.0,28.0,24.0,29.0,34.0,41.0,52.0
3,110004 CACOAL,110004,Cacoal,308.0,325.0,309.0,316.0,303.0,370.0,269.0,...,357.0,356.0,379.0,456.0,440.0,485.0,501.0,482.0,491.0,595.0
4,110005 CEREJEIRAS,110005,Cerejeiras,86.0,78.0,83.0,78.0,71.0,93.0,64.0,...,77.0,105.0,101.0,102.0,80.0,112.0,81.0,109.0,107.0,110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5566,522205 VICENTINOPOLIS,522205,Vicentinopolis,26.0,26.0,28.0,38.0,34.0,29.0,32.0,...,29.0,36.0,51.0,40.0,43.0,45.0,42.0,46.0,41.0,62.0
5567,522220 VILA BOA,522220,Vila Boa,9.0,16.0,19.0,20.0,12.0,15.0,21.0,...,25.0,17.0,23.0,20.0,27.0,16.0,23.0,13.0,19.0,22.0
5568,522230 VILA PROPICIO,522230,Vila Propicio,17.0,18.0,11.0,22.0,14.0,18.0,17.0,...,22.0,18.0,24.0,30.0,23.0,21.0,19.0,24.0,39.0,35.0
5569,530010 BRASILIA,530010,Brasilia,8760.0,9066.0,9093.0,9609.0,9425.0,9513.0,9866.0,...,11253.0,11308.0,11408.0,12018.0,11975.0,12050.0,12514.0,12157.0,12804.0,16218.0
5570,Total,Total,Total,954897.0,977926.0,996443.0,1017910.0,1002359.0,1028172.0,1044114.0,...,1166351.0,1177145.0,1206476.0,1223152.0,1260774.0,1306311.0,1309729.0,1313887.0,1347262.0,1554283.0

In [18]:
df_base.drop(axis=1, columns='Municipio', inplace=True)

In [19]:
df_base

,codigo,cidade,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,110001,Alta Floresta D'Oeste,111.0,107.0,116.0,84.0,105.0,119.0,64.0,138.0,...,84.0,122.0,112.0,108.0,145.0,109.0,137.0,128.0,140.0,139.0
1,110002,Ariquemes,330.0,328.0,371.0,362.0,338.0,394.0,289.0,433.0,...,406.0,486.0,477.0,469.0,511.0,510.0,503.0,531.0,502.0,666.0
2,110003,Cabixi,29.0,24.0,32.0,30.0,29.0,28.0,18.0,34.0,...,29.0,21.0,23.0,24.0,28.0,24.0,29.0,34.0,41.0,52.0
3,110004,Cacoal,308.0,325.0,309.0,316.0,303.0,370.0,269.0,356.0,...,357.0,356.0,379.0,456.0,440.0,485.0,501.0,482.0,491.0,595.0
4,110005,Cerejeiras,86.0,78.0,83.0,78.0,71.0,93.0,64.0,81.0,...,77.0,105.0,101.0,102.0,80.0,112.0,81.0,109.0,107.0,110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5566,522205,Vicentinopolis,26.0,26.0,28.0,38.0,34.0,29.0,32.0,43.0,...,29.0,36.0,51.0,40.0,43.0,45.0,42.0,46.0,41.0,62.0
5567,522220,Vila Boa,9.0,16.0,19.0,20.0,12.0,15.0,21.0,24.0,...,25.0,17.0,23.0,20.0,27.0,16.0,23.0,13.0,19.0,22.0
5568,522230,Vila Propicio,17.0,18.0,11.0,22.0,14.0,18.0,17.0,12.0,...,22.0,18.0,24.0,30.0,23.0,21.0,19.0,24.0,39.0,35.0
5569,530010,Brasilia,8760.0,9066.0,9093.0,9609.0,9425.0,9513.0,9866.0,10282.0,...,11253.0,11308.0,11408.0,12018.0,11975.0,12050.0,12514.0,12157.0,12804.0,16218.0
5570,Total,Total,954897.0,977926.0,996443.0,1017910.0,1002359.0,1028172.0,1044114.0,1072822.0,...,1166351.0,1177145.0,1206476.0,1223152.0,1260774.0,1306311.0,1309729.0,1313887.0,1347262.0,1554283.0

In [20]:
dicionario_obitos = {}

for s in df_base.index:
    lista_values = []
    city = df_base.loc[s][1].title()
    values = df_base.loc[s][2:].values
    for n in values:
        #n = n.astype('int', errors='ignore')
        lista_values.append(n)
        #print(n)
    dicionario_obitos[city] = lista_values[:]
    #print(lista_values)
    lista_values.clear()
    
#dicionario_nascimentos

In [21]:
#print(dicionario_obitos)

In [22]:
count = 0
for i in dicionario_obitos.keys():
    num = len(dicionario_obitos[i])
    if count <= 10:
        print(f'\033[1m\n{i}:\033[m', end=' ')
        for n in dicionario_obitos[i]:
            if n in dicionario_obitos[i][:-1]:
                print(int(n), end=', ')
            else:
                print(int(n), end='.')
        print()
    count += 1

Alta Floresta D'Oeste: 111, 107, 116, 84, 105, 119, 64, 138, 112, 99, 84, 122, 112, 108, 145, 109, 137, 128, 140, 139.

Ariquemes: 330, 328, 371, 362, 338, 394, 289, 433, 446, 386, 406, 486, 477, 469, 511, 510, 503, 531, 502, 666.

Cabixi: 29, 24, 32, 30, 29, 28, 18, 34, 33, 28, 29, 21, 23, 24, 28, 24, 29, 34, 41, 52.

Cacoal: 308, 325, 309, 316, 303, 370, 269, 356, 340, 369, 357, 356, 379, 456, 440, 485, 501, 482, 491, 595.

Cerejeiras: 86, 78, 83, 78, 71, 93, 64, 81, 84, 93, 77, 105, 101, 102, 80, 112, 81, 109, 107, 110.

Colorado Do Oeste: 79, 91, 72, 88, 78, 101, 69, 80, 89, 108, 89, 103, 105, 93, 88, 108, 85, 107, 85, 101,

Corumbiara: 11, 14, 15, 27, 20, 14, 14, 24, 27, 33, 28, 23, 25, 24, 42, 38, 32, 30, 32, 45.

Costa Marques: 37, 37, 52, 51, 57, 54, 46, 53, 53, 35, 43, 76, 36, 50, 66, 53, 59, 71, 56, 64.

Espigao D'Oeste: 112, 127, 127, 126, 137, 48, 84, 63, 133, 130, 140, 140, 132, 152, 149, 155, 143, 148, 167, 181.

Guajara-Mirim: 125, 118, 133, 130, 161, 177, 194, 182, 165, 208, 180, 206, 213, 209, 208, 211, 228, 240, 216, 318.

Jaru: 212, 178, 212, 190, 153, 217, 134, 251, 206, 233, 236, 221, 227, 255, 261, 259, 267, 272, 277, 316.

In [23]:
# dicionario_nascimentos = {}

# for s in df_base.index:
#     city = df_base.loc[s][2].title()
#     values = df_base.loc[s][3:].values

In [24]:
df_base.loc[0][2:]

2001    111.0
2002    107.0
2003    116.0
2004     84.0
2005    105.0
2006    119.0
2007     64.0
2008    138.0
2009    112.0
2010     99.0
2011     84.0
2012    122.0
2013    112.0
2014    108.0
2015    145.0
2016    109.0
2017    137.0
2018    128.0
2019    140.0
2020    139.0
Name: 0, dtype: object

In [25]:
df_base[df_base.cidade == 'Palmas']

,codigo,cidade,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
443,172100,Palmas,457.0,499.0,500.0,458.0,492.0,465.0,549.0,605.0,...,758.0,789.0,857.0,911.0,977.0,880.0,986.0,962.0,1115.0,1326.0
4158,411760,Palmas,207.0,259.0,251.0,298.0,262.0,277.0,240.0,241.0,...,262.0,250.0,265.0,271.0,257.0,324.0,278.0,313.0,287.0,301.0

In [26]:
len(municipios)

5571

In [27]:
df_base[(df_base.cidade == 'Imperatriz')|(df_base.cidade == 'Governador Valadares')]

,codigo,cidade,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
539,210530,Imperatriz,1183.0,1240.0,1239.0,1198.0,1210.0,1351.0,1312.0,1407.0,...,1482.0,1492.0,1425.0,1497.0,1587.0,1633.0,1770.0,1608.0,1683.0,2126.0
2558,312770,Governador Valadares,1591.0,1470.0,1578.0,1667.0,1705.0,1778.0,1671.0,1706.0,...,1805.0,1799.0,1800.0,1854.0,1958.0,1915.0,2207.0,1975.0,2007.0,2534.0

In [28]:
df_base

,codigo,cidade,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,110001,Alta Floresta D'Oeste,111.0,107.0,116.0,84.0,105.0,119.0,64.0,138.0,...,84.0,122.0,112.0,108.0,145.0,109.0,137.0,128.0,140.0,139.0
1,110002,Ariquemes,330.0,328.0,371.0,362.0,338.0,394.0,289.0,433.0,...,406.0,486.0,477.0,469.0,511.0,510.0,503.0,531.0,502.0,666.0
2,110003,Cabixi,29.0,24.0,32.0,30.0,29.0,28.0,18.0,34.0,...,29.0,21.0,23.0,24.0,28.0,24.0,29.0,34.0,41.0,52.0
3,110004,Cacoal,308.0,325.0,309.0,316.0,303.0,370.0,269.0,356.0,...,357.0,356.0,379.0,456.0,440.0,485.0,501.0,482.0,491.0,595.0
4,110005,Cerejeiras,86.0,78.0,83.0,78.0,71.0,93.0,64.0,81.0,...,77.0,105.0,101.0,102.0,80.0,112.0,81.0,109.0,107.0,110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5566,522205,Vicentinopolis,26.0,26.0,28.0,38.0,34.0,29.0,32.0,43.0,...,29.0,36.0,51.0,40.0,43.0,45.0,42.0,46.0,41.0,62.0
5567,522220,Vila Boa,9.0,16.0,19.0,20.0,12.0,15.0,21.0,24.0,...,25.0,17.0,23.0,20.0,27.0,16.0,23.0,13.0,19.0,22.0
5568,522230,Vila Propicio,17.0,18.0,11.0,22.0,14.0,18.0,17.0,12.0,...,22.0,18.0,24.0,30.0,23.0,21.0,19.0,24.0,39.0,35.0
5569,530010,Brasilia,8760.0,9066.0,9093.0,9609.0,9425.0,9513.0,9866.0,10282.0,...,11253.0,11308.0,11408.0,12018.0,11975.0,12050.0,12514.0,12157.0,12804.0,16218.0
5570,Total,Total,954897.0,977926.0,996443.0,1017910.0,1002359.0,1028172.0,1044114.0,1072822.0,...,1166351.0,1177145.0,1206476.0,1223152.0,1260774.0,1306311.0,1309729.0,1313887.0,1347262.0,1554283.0

In [35]:
df_base[df_base.cidade == 'Luziania']

,codigo,cidade,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
5457,521250,Luziania,651.0,689.0,688.0,698.0,760.0,686.0,780.0,784.0,...,982.0,957.0,893.0,943.0,1002.0,997.0,993.0,967.0,1049.0,1206.0

In [37]:
# df2 = df_base.copy()
# df2.drop('cidade', axis=1, inplace=True)
# df2.to_csv("mortalidade_1991_2020.csv")

In [38]:
df_base[df_base.codigo == '120001']

,codigo,cidade,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
52,120001,Acrelandia,30.0,25.0,18.0,26.0,35.0,40.0,47.0,30.0,...,50.0,52.0,41.0,41.0,56.0,51.0,61.0,58.0,48.0,72.0