In [1]:
import pandas as pd
import numpy as np

In [2]:
# anos = list(range(2001, 2021))
# title = 'df_'

# for ano in anos:
#     nome = title+str(ano)
#     #print(nome)
#     nome = pd.read_csv(f'nascimentos_por_municipio/{ano}.csv')

In [3]:
df_2001 = pd.read_csv('nascimentos_por_municipio/2001.csv')
df_2002 = pd.read_csv('nascimentos_por_municipio/2002.csv')
df_2003 = pd.read_csv('nascimentos_por_municipio/2003.csv')
df_2004 = pd.read_csv('nascimentos_por_municipio/2004.csv')
df_2005 = pd.read_csv('nascimentos_por_municipio/2005.csv')
df_2006 = pd.read_csv('nascimentos_por_municipio/2006.csv')
df_2007 = pd.read_csv('nascimentos_por_municipio/2007.csv')
df_2008 = pd.read_csv('nascimentos_por_municipio/2008.csv')
df_2009 = pd.read_csv('nascimentos_por_municipio/2009.csv')
df_2010 = pd.read_csv('nascimentos_por_municipio/2010.csv')
df_2011 = pd.read_csv('nascimentos_por_municipio/2011.csv')
df_2012 = pd.read_csv('nascimentos_por_municipio/2012.csv')
df_2013 = pd.read_csv('nascimentos_por_municipio/2013.csv')
df_2014 = pd.read_csv('nascimentos_por_municipio/2014.csv')
df_2015 = pd.read_csv('nascimentos_por_municipio/2015.csv')
df_2016 = pd.read_csv('nascimentos_por_municipio/2016.csv')
df_2017 = pd.read_csv('nascimentos_por_municipio/2017.csv')
df_2018 = pd.read_csv('nascimentos_por_municipio/2018.csv')
df_2019 = pd.read_csv('nascimentos_por_municipio/2019.csv')
df_2020 = pd.read_csv('nascimentos_por_municipio/2020.csv')
df_base = pd.read_csv('nascimentos_por_municipio/base.csv')

In [4]:
df_2010

                         Municipio  Nascim_p/resid.mae
0     110001 ALTA FLORESTA D'OESTE                 452
1                 110002 ARIQUEMES                1633
2                    110003 CABIXI                  96
3                    110004 CACOAL                1178
4                110005 CEREJEIRAS                 240
...                            ...                 ...
5561         522205 VICENTINOPOLIS                 109
5562               522220 VILA BOA                  64
5563          522230 VILA PROPICIO                  57
5564               530010 BRASILIA               44245
5565                         Total             2861785

[5566 rows x 2 columns]

In [5]:
municipios = []
for i in df_base.Municipio.values:
    #codigo = i.split(' ')
    municipios.append(i)
    #print(i)

In [6]:
dicionario = {'indice': 0}

In [7]:
lista = [1, 2, 3, 4, 5]
lista1 = []

for i in lista:
    lista1.append(i)
    
dicionario['indice'] = lista1[:]
    
dicionario

{'indice': [1, 2, 3, 4, 5]}

In [8]:
# #for n in municipios:
# lista = []
# for i in df_2001.index:
#     if df_2001.loc[i].Municipio in municipios:
#         lista.append(df_2001.loc[i]['Nascim_p/resid.mae'])
#         #print(df_2001.loc[i]['Nascim_p/resid.mae'])
#     else:
#         lista.append('None')

In [9]:
df_2001[df_2001.Municipio == municipios[0]]['Nascim_p/resid.mae'].values[0]

721

In [10]:
#lista = ['df_2001', 'df_2002', 'df_2003', 'df_2004', 'df_2005', 'df_2006', 'df_2007', 'df_2008', 'df_2009', 'df_2010', 'df_2011', 'df_2012', 'df_2013', 'df_2014', 'df_2015', 'df_2016', 'df_2017', 'df_2018', 'df_2019', 'df_2020']

lista = [df_2001, df_2002, df_2003, df_2004, df_2005, df_2006, df_2007, df_2008, df_2009, df_2010, df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020]

#lista = [df_2001, df_2002, df_2003]

count = 2001
for i in lista:
    lista_ano = []
    for n in range(len(municipios)):
        if municipios[n] in i.Municipio.values:
            value = i[i.Municipio == municipios[n]]['Nascim_p/resid.mae'].values[0]
            lista_ano.append(float(value))
        else:
            lista_ano.append(None)
    df_base[str(count)] = lista_ano[:]
    #print(len(df_base))
    #print(lista_ano)
    lista_ano.clear()
    count = count + 1

df_base

,Municipio,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,110001 ALTA FLORESTA D'OESTE,721.0,586.0,578.0,630.0,553.0,476.0,282.0,406.0,389.0,...,398.0,386.0,382.0,341.0,373.0,326.0,354.0,408.0,367.0,333.0
1,110002 ARIQUEMES,2070.0,1948.0,1851.0,1806.0,1801.0,1645.0,1117.0,1777.0,1700.0,...,1579.0,1339.0,1654.0,1647.0,1783.0,1662.0,1724.0,1682.0,1729.0,1507.0
2,110003 CABIXI,101.0,111.0,94.0,97.0,120.0,105.0,97.0,124.0,110.0,...,90.0,64.0,74.0,75.0,86.0,73.0,67.0,82.0,80.0,69.0
3,110004 CACOAL,1702.0,1656.0,1493.0,1505.0,1406.0,1320.0,1242.0,1196.0,1318.0,...,1304.0,1201.0,1185.0,1307.0,1360.0,1338.0,1452.0,1446.0,1374.0,1325.0
4,110005 CEREJEIRAS,219.0,335.0,361.0,292.0,303.0,259.0,243.0,262.0,217.0,...,226.0,245.0,271.0,250.0,277.0,263.0,277.0,264.0,237.0,269.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5566,522205 VICENTINOPOLIS,110.0,120.0,93.0,110.0,110.0,80.0,105.0,126.0,125.0,...,117.0,105.0,108.0,128.0,105.0,106.0,110.0,126.0,112.0,139.0
5567,522220 VILA BOA,60.0,69.0,79.0,77.0,85.0,75.0,86.0,97.0,81.0,...,65.0,71.0,75.0,70.0,69.0,59.0,61.0,57.0,50.0,51.0
5568,522230 VILA PROPICIO,42.0,61.0,58.0,62.0,54.0,55.0,67.0,55.0,48.0,...,62.0,61.0,66.0,58.0,68.0,48.0,66.0,53.0,71.0,53.0
5569,530010 BRASILIA,46891.0,45799.0,46097.0,45593.0,45917.0,45150.0,44098.0,44173.0,43932.0,...,43465.0,43497.0,44530.0,44721.0,46122.0,43340.0,44568.0,44195.0,42422.0,39361.0
5570,Total,3114203.0,3058697.0,3037367.0,3026131.0,3034711.0,2944794.0,2891082.0,2934756.0,2881478.0,...,2913027.0,2905676.0,2903867.0,2979133.0,3017563.0,2857704.0,2923441.0,2944826.0,2849064.0,2730050.0

In [11]:
#'ITANHANGA'
    
for i in df_base.index:
    if 'ITANHANGA' in df_base.loc[i].Municipio:
        print(df_base.loc[i])

Municipio    510454 ITANHANGA
2001                      NaN
2002                      NaN
2003                      NaN
2004                      NaN
2005                      NaN
2006                     65.0
2007                     44.0
2008                     72.0
2009                     57.0
2010                     86.0
2011                     84.0
2012                     83.0
2013                     74.0
2014                    107.0
2015                     75.0
2016                     86.0
2017                     81.0
2018                     93.0
2019                     92.0
2020                    104.0
Name: 5233, dtype: object

In [12]:
# for i in df_base.columns[3:]:
#     df_base[i] = df_base[i].astype('int64',errors='ignore')
    
# df_base

In [13]:
# for i in df_base.columns[3:]:
#     df_base[i] = pd.to_numeric(df_base[i], errors='coerce')
    
# df_base

In [14]:
# for i in df_base.columns[3:]:
#     for n in df_base[i]:
#         #print(n)
#         if n >= 0:
#             #print(n)
#             n = int(n)
#         else:
#             pass
        
# #df_base

In [15]:
# for i in df_base.columns[3:]:
#     df_base[i] = df_base[i].astype(int)
    
# df_base

In [16]:
# for u in df_base.loc[0][1:]:
#     print(int(u))

In [17]:
lista_codigo = []
lista_cidade = []

for n in df_base.index:
    codigo = df_base.Municipio.loc[n][:6]
    city = df_base.Municipio.loc[n][7:]
    lista_codigo.append(df_base.Municipio.loc[n][:6])
    if df_base.Municipio.loc[n][7:] != '':
        lista_cidade.append(df_base.Municipio.loc[n][7:].title())
    else:
        pass
    #print(codigo)
lista_cidade.append('Total')

In [18]:
df_base.insert(
    loc = 1,
    column = 'codigo',
    value = lista_codigo
)

df_base

,Municipio,codigo,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,110001 ALTA FLORESTA D'OESTE,110001,721.0,586.0,578.0,630.0,553.0,476.0,282.0,406.0,...,398.0,386.0,382.0,341.0,373.0,326.0,354.0,408.0,367.0,333.0
1,110002 ARIQUEMES,110002,2070.0,1948.0,1851.0,1806.0,1801.0,1645.0,1117.0,1777.0,...,1579.0,1339.0,1654.0,1647.0,1783.0,1662.0,1724.0,1682.0,1729.0,1507.0
2,110003 CABIXI,110003,101.0,111.0,94.0,97.0,120.0,105.0,97.0,124.0,...,90.0,64.0,74.0,75.0,86.0,73.0,67.0,82.0,80.0,69.0
3,110004 CACOAL,110004,1702.0,1656.0,1493.0,1505.0,1406.0,1320.0,1242.0,1196.0,...,1304.0,1201.0,1185.0,1307.0,1360.0,1338.0,1452.0,1446.0,1374.0,1325.0
4,110005 CEREJEIRAS,110005,219.0,335.0,361.0,292.0,303.0,259.0,243.0,262.0,...,226.0,245.0,271.0,250.0,277.0,263.0,277.0,264.0,237.0,269.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5566,522205 VICENTINOPOLIS,522205,110.0,120.0,93.0,110.0,110.0,80.0,105.0,126.0,...,117.0,105.0,108.0,128.0,105.0,106.0,110.0,126.0,112.0,139.0
5567,522220 VILA BOA,522220,60.0,69.0,79.0,77.0,85.0,75.0,86.0,97.0,...,65.0,71.0,75.0,70.0,69.0,59.0,61.0,57.0,50.0,51.0
5568,522230 VILA PROPICIO,522230,42.0,61.0,58.0,62.0,54.0,55.0,67.0,55.0,...,62.0,61.0,66.0,58.0,68.0,48.0,66.0,53.0,71.0,53.0
5569,530010 BRASILIA,530010,46891.0,45799.0,46097.0,45593.0,45917.0,45150.0,44098.0,44173.0,...,43465.0,43497.0,44530.0,44721.0,46122.0,43340.0,44568.0,44195.0,42422.0,39361.0
5570,Total,Total,3114203.0,3058697.0,3037367.0,3026131.0,3034711.0,2944794.0,2891082.0,2934756.0,...,2913027.0,2905676.0,2903867.0,2979133.0,3017563.0,2857704.0,2923441.0,2944826.0,2849064.0,2730050.0

In [19]:
df_base.insert(
    loc = 2,
    column = 'cidade',
    value = lista_cidade
)

df_base

,Municipio,codigo,cidade,2001,2002,2003,2004,2005,2006,2007,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,110001 ALTA FLORESTA D'OESTE,110001,Alta Floresta D'Oeste,721.0,586.0,578.0,630.0,553.0,476.0,282.0,...,398.0,386.0,382.0,341.0,373.0,326.0,354.0,408.0,367.0,333.0
1,110002 ARIQUEMES,110002,Ariquemes,2070.0,1948.0,1851.0,1806.0,1801.0,1645.0,1117.0,...,1579.0,1339.0,1654.0,1647.0,1783.0,1662.0,1724.0,1682.0,1729.0,1507.0
2,110003 CABIXI,110003,Cabixi,101.0,111.0,94.0,97.0,120.0,105.0,97.0,...,90.0,64.0,74.0,75.0,86.0,73.0,67.0,82.0,80.0,69.0
3,110004 CACOAL,110004,Cacoal,1702.0,1656.0,1493.0,1505.0,1406.0,1320.0,1242.0,...,1304.0,1201.0,1185.0,1307.0,1360.0,1338.0,1452.0,1446.0,1374.0,1325.0
4,110005 CEREJEIRAS,110005,Cerejeiras,219.0,335.0,361.0,292.0,303.0,259.0,243.0,...,226.0,245.0,271.0,250.0,277.0,263.0,277.0,264.0,237.0,269.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5566,522205 VICENTINOPOLIS,522205,Vicentinopolis,110.0,120.0,93.0,110.0,110.0,80.0,105.0,...,117.0,105.0,108.0,128.0,105.0,106.0,110.0,126.0,112.0,139.0
5567,522220 VILA BOA,522220,Vila Boa,60.0,69.0,79.0,77.0,85.0,75.0,86.0,...,65.0,71.0,75.0,70.0,69.0,59.0,61.0,57.0,50.0,51.0
5568,522230 VILA PROPICIO,522230,Vila Propicio,42.0,61.0,58.0,62.0,54.0,55.0,67.0,...,62.0,61.0,66.0,58.0,68.0,48.0,66.0,53.0,71.0,53.0
5569,530010 BRASILIA,530010,Brasilia,46891.0,45799.0,46097.0,45593.0,45917.0,45150.0,44098.0,...,43465.0,43497.0,44530.0,44721.0,46122.0,43340.0,44568.0,44195.0,42422.0,39361.0
5570,Total,Total,Total,3114203.0,3058697.0,3037367.0,3026131.0,3034711.0,2944794.0,2891082.0,...,2913027.0,2905676.0,2903867.0,2979133.0,3017563.0,2857704.0,2923441.0,2944826.0,2849064.0,2730050.0

In [20]:
df_base.drop(axis=1, columns='Municipio', inplace=True)

In [21]:
df_base

,codigo,cidade,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,110001,Alta Floresta D'Oeste,721.0,586.0,578.0,630.0,553.0,476.0,282.0,406.0,...,398.0,386.0,382.0,341.0,373.0,326.0,354.0,408.0,367.0,333.0
1,110002,Ariquemes,2070.0,1948.0,1851.0,1806.0,1801.0,1645.0,1117.0,1777.0,...,1579.0,1339.0,1654.0,1647.0,1783.0,1662.0,1724.0,1682.0,1729.0,1507.0
2,110003,Cabixi,101.0,111.0,94.0,97.0,120.0,105.0,97.0,124.0,...,90.0,64.0,74.0,75.0,86.0,73.0,67.0,82.0,80.0,69.0
3,110004,Cacoal,1702.0,1656.0,1493.0,1505.0,1406.0,1320.0,1242.0,1196.0,...,1304.0,1201.0,1185.0,1307.0,1360.0,1338.0,1452.0,1446.0,1374.0,1325.0
4,110005,Cerejeiras,219.0,335.0,361.0,292.0,303.0,259.0,243.0,262.0,...,226.0,245.0,271.0,250.0,277.0,263.0,277.0,264.0,237.0,269.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5566,522205,Vicentinopolis,110.0,120.0,93.0,110.0,110.0,80.0,105.0,126.0,...,117.0,105.0,108.0,128.0,105.0,106.0,110.0,126.0,112.0,139.0
5567,522220,Vila Boa,60.0,69.0,79.0,77.0,85.0,75.0,86.0,97.0,...,65.0,71.0,75.0,70.0,69.0,59.0,61.0,57.0,50.0,51.0
5568,522230,Vila Propicio,42.0,61.0,58.0,62.0,54.0,55.0,67.0,55.0,...,62.0,61.0,66.0,58.0,68.0,48.0,66.0,53.0,71.0,53.0
5569,530010,Brasilia,46891.0,45799.0,46097.0,45593.0,45917.0,45150.0,44098.0,44173.0,...,43465.0,43497.0,44530.0,44721.0,46122.0,43340.0,44568.0,44195.0,42422.0,39361.0
5570,Total,Total,3114203.0,3058697.0,3037367.0,3026131.0,3034711.0,2944794.0,2891082.0,2934756.0,...,2913027.0,2905676.0,2903867.0,2979133.0,3017563.0,2857704.0,2923441.0,2944826.0,2849064.0,2730050.0

In [22]:
dicionario_nascimentos = {}

for s in df_base.index:
    lista_values = []
    city = df_base.loc[s][1].title()
    values = df_base.loc[s][2:].values
    for n in values:
        #n = n.astype('int', errors='ignore')
        lista_values.append(n)
        #print(n)
    dicionario_nascimentos[city] = lista_values[:]
    #print(lista_values)
    lista_values.clear()
    
#dicionario_nascimentos

In [23]:
print(dicionario_nascimentos["Alta Floresta D'Oeste"][:-1])

[721.0, 586.0, 578.0, 630.0, 553.0, 476.0, 282.0, 406.0, 389.0, 452.0, 398.0, 386.0, 382.0, 341.0, 373.0, 326.0, 354.0, 408.0, 367.0]

In [24]:
count = 0
for i in dicionario_nascimentos.keys():
    num = len(dicionario_nascimentos[i])
    if count <= 10:
        print(f'\033[1m\n{i}:\033[m', end=' ')
        for n in dicionario_nascimentos[i]:
            if n in dicionario_nascimentos[i][:-1]:
                print(int(n), end=', ')
            else:
                print(int(n), end='.')
        print()
    count += 1

Alta Floresta D'Oeste: 721, 586, 578, 630, 553, 476, 282, 406, 389, 452, 398, 386, 382, 341, 373, 326, 354, 408, 367, 333.

Ariquemes: 2070, 1948, 1851, 1806, 1801, 1645, 1117, 1777, 1700, 1633, 1579, 1339, 1654, 1647, 1783, 1662, 1724, 1682, 1729, 1507.

Cabixi: 101, 111, 94, 97, 120, 105, 97, 124, 110, 96, 90, 64, 74, 75, 86, 73, 67, 82, 80, 69.

Cacoal: 1702, 1656, 1493, 1505, 1406, 1320, 1242, 1196, 1318, 1178, 1304, 1201, 1185, 1307, 1360, 1338, 1452, 1446, 1374, 1325.

Cerejeiras: 219, 335, 361, 292, 303, 259, 243, 262, 217, 240, 226, 245, 271, 250, 277, 263, 277, 264, 237, 269.

Colorado Do Oeste: 263, 354, 355, 340, 302, 276, 241, 263, 273, 262, 237, 214, 256, 273, 251, 223, 243, 235, 214, 203.

Corumbiara: 92, 160, 131, 133, 139, 120, 88, 116, 122, 131, 98, 116, 116, 125, 111, 139, 87, 129, 127, 107.

Costa Marques: 162, 308, 289, 283, 343, 361, 293, 314, 252, 263, 257, 234, 234, 267, 245, 213, 216, 246, 233, 190.

Espigao D'Oeste: 527, 546, 574, 572, 603, 347, 236, 541, 529, 495, 496, 476, 463, 496, 548, 486, 533, 476, 450, 471.

Guajara-Mirim: 948, 798, 974, 947, 933, 324, 874, 903, 892, 882, 956, 940, 879, 923, 831, 884, 842, 926, 781, 858.

Jaru: 1272, 1187, 1165, 1161, 1014, 894, 502, 924, 938, 819, 852, 808, 914, 867, 788, 807, 846, 911, 881, 892.

In [25]:
# dicionario_nascimentos = {}

# for s in df_base.index:
#     city = df_base.loc[s][2].title()
#     values = df_base.loc[s][3:].values

In [26]:
df_base.loc[0][2:]

2001    721.0
2002    586.0
2003    578.0
2004    630.0
2005    553.0
2006    476.0
2007    282.0
2008    406.0
2009    389.0
2010    452.0
2011    398.0
2012    386.0
2013    382.0
2014    341.0
2015    373.0
2016    326.0
2017    354.0
2018    408.0
2019    367.0
2020    333.0
Name: 0, dtype: object

In [27]:
df_base[df_base.cidade == 'Palmas']

,codigo,cidade,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
443,172100,Palmas,3908.0,3942.0,3788.0,3851.0,3828.0,4102.0,3961.0,4161.0,...,4673.0,4713.0,4829.0,5162.0,5198.0,4855.0,5163.0,5353.0,5206.0,4946.0
4158,411760,Palmas,894.0,1096.0,1012.0,1031.0,1113.0,1073.0,928.0,851.0,...,804.0,877.0,892.0,854.0,821.0,890.0,840.0,874.0,867.0,811.0

In [28]:
len(municipios)

5571

In [29]:
df_base[(df_base.cidade == 'Imperatriz')|(df_base.cidade == 'Governador Valadares')]

,codigo,cidade,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
539,210530,Imperatriz,5838.0,4994.0,5331.0,5597.0,5412.0,5297.0,4942.0,4840.0,...,4976.0,4774.0,4986.0,5198.0,5248.0,4894.0,5051.0,5274.0,5192.0,4793.0
2558,312770,Governador Valadares,4450.0,4315.0,4448.0,4344.0,4347.0,4156.0,3799.0,3803.0,...,3888.0,3754.0,3749.0,3987.0,4023.0,3904.0,3946.0,4055.0,3866.0,3541.0

In [30]:
df_base

,codigo,cidade,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,110001,Alta Floresta D'Oeste,721.0,586.0,578.0,630.0,553.0,476.0,282.0,406.0,...,398.0,386.0,382.0,341.0,373.0,326.0,354.0,408.0,367.0,333.0
1,110002,Ariquemes,2070.0,1948.0,1851.0,1806.0,1801.0,1645.0,1117.0,1777.0,...,1579.0,1339.0,1654.0,1647.0,1783.0,1662.0,1724.0,1682.0,1729.0,1507.0
2,110003,Cabixi,101.0,111.0,94.0,97.0,120.0,105.0,97.0,124.0,...,90.0,64.0,74.0,75.0,86.0,73.0,67.0,82.0,80.0,69.0
3,110004,Cacoal,1702.0,1656.0,1493.0,1505.0,1406.0,1320.0,1242.0,1196.0,...,1304.0,1201.0,1185.0,1307.0,1360.0,1338.0,1452.0,1446.0,1374.0,1325.0
4,110005,Cerejeiras,219.0,335.0,361.0,292.0,303.0,259.0,243.0,262.0,...,226.0,245.0,271.0,250.0,277.0,263.0,277.0,264.0,237.0,269.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5566,522205,Vicentinopolis,110.0,120.0,93.0,110.0,110.0,80.0,105.0,126.0,...,117.0,105.0,108.0,128.0,105.0,106.0,110.0,126.0,112.0,139.0
5567,522220,Vila Boa,60.0,69.0,79.0,77.0,85.0,75.0,86.0,97.0,...,65.0,71.0,75.0,70.0,69.0,59.0,61.0,57.0,50.0,51.0
5568,522230,Vila Propicio,42.0,61.0,58.0,62.0,54.0,55.0,67.0,55.0,...,62.0,61.0,66.0,58.0,68.0,48.0,66.0,53.0,71.0,53.0
5569,530010,Brasilia,46891.0,45799.0,46097.0,45593.0,45917.0,45150.0,44098.0,44173.0,...,43465.0,43497.0,44530.0,44721.0,46122.0,43340.0,44568.0,44195.0,42422.0,39361.0
5570,Total,Total,3114203.0,3058697.0,3037367.0,3026131.0,3034711.0,2944794.0,2891082.0,2934756.0,...,2913027.0,2905676.0,2903867.0,2979133.0,3017563.0,2857704.0,2923441.0,2944826.0,2849064.0,2730050.0

In [33]:
df_base[df_base.cidade == 'Luziania']

,codigo,cidade,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
5457,521250,Luziania,3299.0,3515.0,3605.0,3415.0,3289.0,3178.0,3040.0,2866.0,...,3019.0,2964.0,3171.0,3040.0,3236.0,2906.0,3010.0,2997.0,2965.0,2875.0

In [34]:
# df2 = df_base.copy()
# df2.drop('cidade', axis=1, inplace=True)
# df2.to_csv("natalidade_1991_2020.csv")

In [36]:
df_base[df_base.codigo == '120001']

,codigo,cidade,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
52,120001,Acrelandia,172.0,185.0,179.0,229.0,243.0,224.0,216.0,273.0,...,289.0,253.0,258.0,269.0,217.0,222.0,256.0,216.0,257.0,237.0